extends layout

block content
	style(type='text/css').

		.angular-google-map-container { height:100%; width:100%; position:absolute; top: 50px; left:0; }

	script(type='text/javascript').
		angular.module('tripper', ['google-maps', 'ui.bootstrap']);

		function TRMapCtrl($scope) {
			$scope.map = {
				center: {
					latitude: 45,
					longitude: -73
				},
				zoom: 8
			};
		}

	nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
		div.container-fluid
			div.navbar-header
				a.navbar-brand
					| Tripper
	div(ng-controller='TRMapCtrl')
		google-map(center="map.center", zoom="map.zoom")