extends layout

block content
  style(type='text/css').

    .angular-google-map-container { height:100%; width:100%; position:absolute; top: 50px; left:0; }

  script(type='text/javascript').
    angular.module('tripper', ['google-maps', 'ngGPlaces', 'ui.bootstrap', 'ui.bootstrap.tpls']);

    function TRMapCtrl($scope) {

      var mapWindow = {
        coords: null,
        isEnable: function() {
          return this.coords &&
                 this.coords.latitude  !== 'undefined' && this.coords.latitude  !== null &&
                 this.coords.longitude !== 'undefined' && this.coords.longitude !== null;
        },
        getCoords: function() {
          if (!this.coords) {
            return null;
          }

          if (!this.coords.latitude || !this.coords.longitude) {
            return null;
          }

          return coords;
        },
        setCoords: function(latitude, longitude) {
          this.coords = {
            latitude: latitude,
            longitude: longitude
          };
          return this;
        }
      };

      var map = {
        center: {
          latitude: 45,
          longitude: -73
        },
        zoom: 8,
        events: {
          rightclick: function(mapModel, eventName, originalEventArgs) {
            var e = originalEventArgs[0];
            console.log(e);
            mapWindow.setCoords(e.latLng.lat(), e.latLng.lng());
            console.log(mapWindow.isEnable());
          }
        }
      };

      $scope.mapWindow = mapWindow;
      $scope.map = map;
    }

  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    div.container-fluid
      div.navbar-header
        a.navbar-brand
          | Tripper
        form.navbar-form(type='search')
          div.input-group
            input.form-control(type='text', placeholder='search', ng-model='query')
            span.input-group-btn
              button.btn.btn-primary(type='button')
                i.fa.fa-search

  div(ng-controller='TRMapCtrl')
    google-map(center="map.center", zoom="map.zoom", events='map.events')
      window(coords="mapWindow.getCoords()", show="mapWindow.isEnable()")
