doctype html
html(ng-app='tripper')
  head
    //- bootstrap
    link(rel='stylesheet', type='text/css', href='/vendor/bootstrap/dist/css/bootstrap.min.css')

    //- font-awesome
    link(rel='stylesheet', type='text/css', href='/vendor/font-awesome/css/font-awesome.min.css')

    //- angular
    script(type='text/javascript', src='/vendor/angular/angular.min.js')

    //- angular-google-maps
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?sensor=false')
    script(type='text/javascript', src='/vendor/underscore/underscore-min.js')
    script(type='text/javascript', src='/vendor/angular-google-maps/dist/angular-google-maps.min.js')

    //- angular-google-places
    script(type='text/javascript', src='/vendor/angularjs-google-places/dist/angularjs-google-places.min.js')

    //- ui-bootstrap
    script(type='text/javascript', src='/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(type='text/javascript', src='/vendor/angular-bootstrap/ui-bootstrap.min.js')

  body
    block content
